{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid publish-form-container">

    {% if published %}
        {{ message }}
    {% else %}
    {% if user.is_authenticated %}
    <p>Publishing as: {{ user.username }}</p>
    <form method="POST" class="form-group form-control-lg text-dark" action="{% url 'create_post' %}">
        {{ blog_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-sm btn btn-primary">Post</button>
    </form>
    {% endif %}
    {% endif %}
</div>

{% endblock %}