{% extends 'base.html' %}

{% block content %}

<div class="container-fluid ">
    <h3 class="title">{{ user.username}}'s Posts:</h3>
    <div class="row">

        {% for post in posts %}
        <div class="card user_post_list">
            {% if post.approved %}
            <h4 class="card-header status">Blog Post approved></i></h4>
            {% else %}
            <h4 class="card-header status">Pending Approval</h4>
            {% endif %}
            <div class="card-body">
                {% if post.approved %}
                <h5 class="card-title"><a href="{% url 'post_details' post.slug %}">{{ post.title }}</a>
                </h5>
                {% else %}
                <h5 class="card-title list-title">{{ post.title }}</h5>
                {% endif %}
                <p class="card-text">{{ post.excerpt }}</p>
                <p class="card-text">{{ post.created_on }}</p>
                <a class="btn btn-warning btn-lg" href="edit/{{ post.id }}">Edit Post</a>
                <button class="btn btn-danger btn-lg" data-bs-toggle="modal"
                data-bs-target="#deleteModal{{ post.id }}">Delete</button>
            </div>
        </div>

         <!-- Modal -->
         <div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content delete-modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete "{{ post.title }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger" href="delete/{{ post.id }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>You have no blogs</p>
        <a class="btn btn-signup btn-lg profile-item-link" href="{% url 'create_post' %}">Create a post</a>
    {% endfor %}
</div>



{%endblock%}